:root {
  --red-color: crimson
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
html{
  scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  background: url(/img/background4.jpg) no-repeat center;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}
.header__burger-menu {
  display: none;
}
.header__menu {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 30px 0;
  transition: all .3s ease;
}
.header__menu.sticky {
  background: var(--red-color);
  padding: 15px 0;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.header__nav-list {
  display: flex;
}
.header__nav-link {
  font-family: Montserrat;
  margin-left: 25px;
  transition: color .3s ease;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.header__nav-link:hover {
  color: var(--red-color);
}
.header__logo-link{
  color: #fff;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 600;
}

.header__logo-link span{
  transition: color .3s ease;
  color: var(--red-color);
}
.header__logo-link span.active {
  color: #fff;
}
.header__content {
  padding-top: 250px;
}
.header__home-text{
  color: #fff;
  font-family: Montserrat;
}
.header__home-text-1{
  font-size: 27px;
}
.header__home-text-2{
  font-size: 60px;
  font-weight: 600;
}
.header__home-text-3{
  font-weight: 500;
  font-size: 40px;
}
.header__home-text-3 span {
  color: var(--red-color);
}

.section {
  padding: 100px 0;
}
.dark-section {
  background: #000;
}
.section-title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: Montserrat;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.section-title::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 180px;
  height: 3px;
  background: #000;
}
.section-title::after {
  content: 'who i am';
  position: absolute;
  bottom: -10px;
  left: 50%;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
  font-size: 20px;
  color: var(--red-color);
}
.dark-section-title {
  color: #fff;
}
.my-work-title::after {
  content: 'what i\'ve done';
}
.dark-section-title::before {
  background: #fff;
}
.dark-section-title::after {
  background: #000;
}
.about-me__content-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me__column-left{
  width: 400px;
  height: 400px;
}
.about-me__img{
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-me__column-right {
  width: 55%;
  font-family: Montserrat;

}
.about-me__about-content__title{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-me__about-content__title span {
  color: var(--red-color);
}
.about-me__about-content__text{
  text-align: justify;
  margin-bottom: 5px;
}
.about-me__about-content__text:last-child {
  margin-bottom: 0;
}
.about-me__about-content{
  margin-bottom: 20px;
}
.about-me__download-btn{
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  background: var(--red-color);
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  border: 2px var(--red-color) solid;
  transition: all .3s ease; 
}
.about-me__download-btn:hover {
  background: #fff;
  color: var(--red-color);
}
.my-work__content-wrapper{
  display: flex;
  justify-content: space-between;
}
.my-work__card {
  min-height: 300px;
  width: calc(33% - 30px);
  background: #222;
  border-radius: 6px;
  cursor: pointer;
  padding: 50px 25px;
  transition: all .3s ease;
} 
.my-work__card:hover {
  background: var(--red-color);
  transform: scale(1.1);
}
.my-work__card-text{
  font-family: Montserrat;
  color: #fff;
  text-align: center;
}
.my-work__card-title {
  
  font-size: 25px;
  margin-bottom: 7px;
  font-weight: 500;
 
}
















@media (max-width: 950px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: 0.25s ease-in-out;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.25s ease-in-out;
  }
  .header__burger::before{
    top: 0;
  }
  .header__burger::after{
    bottom: 0;
  }
  .header__nav{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #18b5a4;
  }
  body.overflow{
    overflow: hidden;
  }
  .header__nav.active {
    padding: 70px 10px 0 10px;
    top: 0;
  }
  .header__nav-list {
    display: block;
  }
  .header__nav-item {
    margin-bottom: 20px;
  }
  .nav-link {
    color: #fff;
  }
}